{% extends 'layout.html' %}

{% block content %}
<article class="container">

  <section class="hero">
    <h1 class="hero__title">Launch your great idea</h1>
    <p class="hero__subtitle">even if you spare only 15 minutes a day</p>

    <div class="win">{% include 'win.svg' %}</div>
  </section>

  <p>When you are launching your idea on the side, you know that time is limited.</p>
  <p>Your day job consumes your time and you're left with a handful of hours to spend on your idea; barely enough to recap from where you left off.</p>

  <h2>After a long day at your day job you're not in the mindset to keep going</h2>

  <p>It's tough to deal with the context switching and you end up procrastinating.</p>
  <p>It takes four times as long to find the solution when what you really want to do is relax.</p>

  <div class="sofa">{% include 'sofa.svg' %}</div>

  <p>It's a lot easier when you have 8 hours in a row to focus on your business and not just a few hours here and there.</p>

  <h2>But you know how difficult it is to find time in the evenings &mdash; even just two hours</h2>

  <p>You can try to get every minute out of the day to finish your beta, even the evenings. While you can maintain it for a while, you know you'll always end up hitting a wall.</p>

  <div class="stare">{% include 'stare.svg' %}</div>

  <p>Plus you don't feel super productive during those times and your output &mdash; code, writing, whatever &mdash; won't be decent.</p>
  <p>At the end of the day, it's clearly a net loss.</p>

  <p>When you are well-rested you work smarter.</p>

  <h2>So why not quit your day job and go full steam with your business?</h2>
  <p>You don't have to work for someone else and there are no boss to report to. But your partner and family may see things differently; they don't view it as a real job and you aren't making money yet.</p>
  <p>You still have to manage their expectations.</p>

  <div class="family">{% include 'family.svg' %}</div>

  <h2>Watching your bank balance shrink is a pretty huge distraction too</h2>

  <p>You can't ignore the elephant in the room either.</p>
  <p>The stress of depleting savings is a real kick-in-the-pants to help you get and keep moving, but is it really worth the extra pressure on you to deliver?</p>
  <p>The idea that a dwindling bank account will light a fire under your ass is...well, duh. That doesn't mean it's a good idea.</p>

  <div class="pig">{% include 'pig.svg' %}</div>

  <p>You don't want to grow a business while having to deal with anxiety and self-doubt because your bank balance is shrinking and your time is running out.</p>
  <p>Working on a product it's demanding. No matter how you cut it.</p>

  <h2>But imagine how easy it would be if you could have an hour distraction-free every day</h2>

  <p>If you could maintain concentration even after a long day? If you could stop wasting the first half an hour to recap from where you left off?</p>
  <p>What if you could pick and choose the tasks that are easier to complete based on your mental energy? If you could make progress even when you have as little as five minutes to spare?</p>
  <p>Would you finally be able to get momentum? Would you stop feeling guilty because you can get very little done?</p>
  <p>Would you finally reach that milestone you keep pushing back?</p>
  <p>Would you launch your campaign and gather signups?</p>
  <p>Would you finally launch your idea to the public?</p>

  <div class="snap">{% include 'snap.svg' %}</div>

  <h2>Say hello to Kanban, it helps you get things done even when there's little time</h2>

  <p>Thankfully, there's a simple time management solution called Kanban, an effective tool to organise your time.</p>
  <p>Let me show you how it works:</p>

  <p>In your task management tool of choice <span class="em">(Asana, Wunderlist, <span class="strong">Trello &#10084;</span>, etc.)</span>, you create 3 lists: <span class="list">Backlog</span>, <span class="list">In progress</span> and <span class="list">Done</span></p>

  <ul>
    <li>You enter all your tasks in the <span class="list">Backlog</span> list</li>
    <li>When you're ready to work, drag the task into the <span class="list">In progress</span> list</li>
    <li>Once completed, drag the task to the <span class="list">Done</span> list</li>
    <li>Rinse and repeat</li>
  </ul>

  <p><span class="strong">It's dead simple:</span> you pick the task call bank to renew business insurance from the <span class="list">Backlog</span> and move into <span class="list">In Progress</span>. Read the instructions on the task and complete it. Once you're done with your call and the insurance contract is renewed the task can be moved into <span class="list">Done</span>.</p>
  <p>There're two more lists to help you out organise your plans:</p>

  <ul>
    <li><span class="list">Ready for Review</span>, where you collect all your notes and thoughts.</li>
    <li><span class="list">Icelog</span>, for all tasks that can be dealt with in the distant future.</li>
  </ul>

  <h2>What can Kanban do for you?</h2>

  <h3>Pick up from where you left off in a snap</h3>
  <p>Stop wasting time trying to remember what you were doing yesterday. You can tell by looking at the cards in progress. Pick one, read the comments and you're already making progress.</p>

  <h3>Clear vision on what you can focus on next</h3>
  <p>Fight the urge to switch between tasks because you don't know which one is more important. When your tasks are prioritised, you can pick the first card from the top of your list and be sure you're working smart.</p>

  <h3>No more unwanted surprises</h3>
  <p>It's difficult to keep track of things outside of your control &mdash; waiting for Jon to deliver the designs or chasing Lucy for that new contract. You can easily spot blocked tasks in the board: when one card doesn't move for weeks, you know something isn't right.</p>

  <h3>Multitasking under control</h3>
  <p>When you're constantly juggling too many projects, it's easy to lose sight of what you've been up to. It's much easier to keep track of all tasks in progress when you can just see them in front of you.</p>

  <h3>Remember everything</h3>
  <p>Science suggests the human brain can only hold seven thoughts at the same time. But you don’t have to since you can just scribble down all your tasks and store them safely.</p>

  <h2>And you're in good company</h2>
  <p>This is not a fad. All big internet companies &mdash; <span class="em">Facebook, Google, Spotify, etc.</span> &mdash; use Kanban to manage their teams' tasks. Human resources, recruitment, sales and marketing teams all use Kanban. Even some government departments are on board. They all rely on this simple process to increase efficiency.</p>
  <p>Because it works: After adopting Kanban, Spotify reported shorter lead times, more internal tasks done, and happier customers.</p>

  <cite>It enables us to become more agile without really having to change very much of our day-to-day work. &mdash; <span class="strong">Mattias Jansson, Operations Engineer at Spotify</span></cite>

  <p>Get your own Kanban board now and get productive!</p>

  <p class="almost-ready"><em>I'm almost ready to publish the full tutorial, if you wish to have a preview please get in touch!</em></p>
  <p><a href="mailto:hello@bxbrick.com">Drop me an email</a> or tweet <a href="https://twitter.com/danielepolencic">@danielepolencic</a></p>
</article>

{% endblock %}
